.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  padding-top: 80px;
}
.card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card:hover {
  box-shadow: none;
  background-color: #f3fce7;
  border: 1px solid #f3fce7;
  && .link {
    background: linear-gradient(to left, #c9ec9b, #f5ee8e);
    border: 1px solid #c9ec9b;
  }
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.author {
  color: #0051ff;
  margin: 0.5rem 0;
  font-size: 14px;
}
.link {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
  padding: 15px 10px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.link:hover {
  background: linear-gradient(to left, #c9ec9b, #f5ee8e);
  border: 1px solid #c9ec9b;
  text-decoration: none;
  transform: translateY(3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* 더 눌리는 느낌의 그림자 */
}
.card > h3 {
  font-size: 16px;
  font-weight: bold;
}
