.container {
  /* padding-top: 80px; */
  padding: 2rem;
  color: #000;
}
.title {
  font-size: 2rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-weight: bold;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.button {
  position: relative;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-align: center;
  background-color: white;
  transition: all 0.2s ease;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1); /* 기본 그림자 */
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease, border-color 0.3s ease;
}
/* 배경 그라데이션 */
.button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(to left, #f5ee8e, #c9ec9b);
  transition: width 0.4s ease;
  z-index: -1;
}

.button:hover::before {
  width: 100%; /* 오른쪽에서 왼쪽으로 채워짐 */
  left: 0;
  right: auto;
}

.button:hover {
  transform: scale(0.95);
  box-shadow: none;
  border: 0.5px solid #f5ee8e;
}
